# flask
# langchain
# langchain-community
# langchain-core
# langchain-groq
# langchain-huggingface
# langchain-pinecone
# pinecone-client
# sentence-transformers
# pypdf
# python-dotenv
# gunicorn
# markdown


flask
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
pinecone-client
langchain-pinecone
pinecone
python-dotenv
gunicorn
markdown
requests